:root{
	--clr-shadow: rgb(0, 0, 0);
	--clr-border: rgb(0, 0, 0);
    --clr-background-primary: #CEE3F6;
    --clr-background-image: linear-gradient(to top, #cee3f6, #aad0f3, #85bdf1, #5ba9ee, #1296eb);
	--clr-background-secondary: rgb(255, 255, 255);
	--clr-text-primary: rgb(0, 0, 0);
	--clr-text-secondary: rgb(255, 255, 255);
}

html{
	min-height: 100%;
	margin: 0;
}

/* body */
body {
	margin: 0;
    padding: 0;
	color: var(--clr-text-primary);
	background-image: var(--clr-background-image);
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

*,
*::before, 
*::after{
    box-sizing: border-box;
}

/* header */
header {
	margin: 1rem;
	font-size: 2rem;
	text-align: center;
	background-color: var(--clr-background-secondary);
	border: 0.1rem solid var(--clr-border);
	box-shadow: 0.4rem 0.3rem 0.3rem var(--clr-shadow);
}

/* nav */
.page__nav{
	padding: 0;
	margin: 0;
}

.page__nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0 1em;
	padding: 1em 1em 0 0;
	background-color: var(--clr-background-secondary);
	border: 0.1rem solid var(--clr-border);
	box-shadow: 0.4rem 0.3rem 0.3rem var(--clr-shadow);
}

.page__nav li{
	margin: 0;
	padding: 0;
}

.page__nav li a {
	display: block;
	font-weight: bold;
	text-align: center;
	background-color: rgb(140, 190, 255);
	color: var(--clr-text-primary);
	padding: 1em;
	margin: 0 0 1em 1em;
	text-decoration: none;
	border: 0.1rem solid var(--clr-border);
	box-shadow: 0.4em 0.3em 0.3em var(--clr-shadow);
}

.page__nav li a:hover {
	background-color: #327bc0;
	color: var(--clr-text-secondary);
}

.page__nav li a:active {
	background-color: #144e85;
	color: var(--clr-text-secondary);
}

@media screen and (min-width: 700px) {
	.page__nav {
	  padding: 0;
	}
	.page__nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.page__nav li{
		flex: 1;
	}
	.page__nav li a{
		margin: 0 0 1em 1em;
	}
}

/* row */
.row {
	padding: 1em;
	margin: 0;
}

/* side */
.side {
	flex: 100%;
	margin: 0 0 1em 0;
	background-color: var(--clr-background-secondary);
	border: 0.1em solid var(--clr-border);
	box-shadow: 0.4em 0.3em 0.3em var(--clr-shadow);
}

/* myself img */
.myself__img img {
	display: block;
	margin: auto;
	width: calc(100% - 1em);
	max-width: 40%;
	max-height:100%;
	margin: 0 0.5em 0 0.5em;
	border-radius: 1%;
	box-shadow: 0 0 0 0.1em var(--clr-shadow);
}

/* socialmedia img */
.socialmedia__img{
	display: flex;
	flex-direction: row;
	margin: 0 0 0.5em 0.5em;
}

.socialmedia__img img{
	display: block;
	width: 65px;
	padding: 0 0.5em 0 0;
	border: none;
	box-shadow: none;
}

/* main */
.main {
	flex: 100%;
	margin: 1em 0 0 0;
	background-color: var(--clr-background-secondary);
	border: 0.1em solid var(--clr-border);
	box-shadow: 0.4em 0.3em 0.3em var(--clr-shadow);
}

@media screen and (min-width: 700px) {
	.row{
		display: flex;
	}
	.side{
		flex: 30%;
		margin: 0 0.5em 0 0;
	}
	.myself__img img{
		max-width: 100%;
	}
	.socialmedia__img img{
		max-width: 100%;
	}
	.main{
		flex: 70%;
		margin: 0 0 0 0.5em;
	}
}

/* p */
p {	
	padding: 0;
	margin: 0.5rem;
}

/* h1 */
h1 {
	padding: 0;
	margin: 0.5rem;
}

/* h2 */
h2 {
	padding: 0;
	margin: 0.5rem;
}

/* footer */
.footer {
	text-align: right;
	padding: 1em;
	margin: 0 1em 1em 1em;
	background-color: var(--clr-background-secondary);
	border: 0.1rem solid var(--clr-border);
	box-shadow: 0.4em 0.3em 0.3em var(--clr-shadow);
}